
.ant-btn-delete{
    margin-left: 16px;
    background-color: #E60012;
    color: #FFFFFF;
    width: 82px;
    height: 32px;
    border-color: lighten(rgba(230,0,18,1),10%);
    font-size: 14px;
    .anticon{

    }
    .anticon:before {
        display: block;
        font-family: "vtxiconfont" !important;
    }
    .anticon-delete:before {
        content: "\e62b";
    }
}

.ant-btn-delete:hover, .ant-btn-delete:focus {
    color: #FFFFFF;
    background-color: lighten(rgba(230,0,18,1),10%);
    border-color: lighten(rgba(230,0,18,1),10%);
}

.vtx-ui-btnGroup-normal {
    .ant-btn-plus{
        width: 82px;
        margin-left: 16px;
    }
}
.ant-btn-plus{
    
    background-color: #1890FF;
    color: #FFFFFF;
    height: 32px;
    font-size: 14px;
    border-color: transparent;
    .anticon:before {
        display: block;
        font-family: "vtxiconfont" !important;
    }
    .anticon-plus:before {
        content: "\e62c";
    }
}

.ant-btn-plus:hover, .ant-btn-plus:focus {
    color: #FFFFFF;
    background-color: #49a9ee;
    border-color: #49a9ee;
}

.ant-btn-more{
    margin-left: 16px;
    background-color: rgba(241,145,73,1);
    color: #FFFFFF;
    width: 82px;
    height: 32px;
    font-size: 14px;
    border-color: desaturate(rgba(241,145,73,1), 20%);
    .anticon:before {
        display: block;
        font-family: "vtxiconfont" !important;
    }
    .anticon-bars:before {
        content: "\e625";
    }
}

.ant-btn-more:hover, .ant-btn-more:focus {
    color: #FFFFFF;
    background-color: desaturate(rgba(241,145,73,1), 20%);
    border-color: desaturate(rgba(241,145,73,1), 20%);
}

.vtx-ui-btnGroup-titleselectioncontainer {
    .ant-checkbox-wrapper {
        display: block;
        margin-left: 0px !important;
    }
    .vtx-ui-btnGroup-titleselectioncontainer-title{
        display: inline-block;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    .vtx-ui-btnGroup-titleselectioncontainer-title *{
        display: inline-block;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
}

.vtx-ui-btnGroup-normal{
    padding: 0 25px 16px 9px;
    .vtx-ui-btnGroup-extraBtns{
        text-align: right;
        .anticon{
            margin: 0 2px;
        }
        .anticon:before {
            display: block;
            font-family: "vtxiconfont" !important;
        }
        .anticon-more:before {
            content: "\e600";
        }
        .anticon-export:before {
            content: "\e61a";
        }
        .anticon-caret-down:before {
            content: "\e630";
        }
        .ant-btn{
            border-color:#ddd;
            background-color:#F4F4F4;
            height: 32px;
            padding: 0 10px;
        }

    }
}

.vtx-ui-btnGroup-item{
    width: 100%;
    text-align: center;
    height: 32px;
    line-height: 32px;
    width: 90px,
}